/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/* entypo */
/*[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}
/*
violeta
#7e1275

salmon
#ff6600
#e44503

verde
#8cb13f
#8cb13f

amarillo
#efbf03
#fba919

azul
#30aadb

morado
#6735cc

turquesa
#009997

*/

/* General */
body {
  /*background-color: #d3e194;*/
  background: url('../img/bg-bamboo.jpg') no-repeat 80% 50% fixed;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.container {
  width: 70%;
  /*border: 3px solid red;*/
  margin-left: auto;
  margin-right: auto;
}


/* Navigation menu */
i.fa.fa-bars {
  font-size: 2em;
  color: #4c5c22;
  display: none;
}

header a {
  text-decoration: none;
}


nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

nav li {
  display: inline;
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: #000;
}

/* Header intro */
header {
  width: 91%;
  margin-bottom: 1.5em;
  margin-left: auto;
}


.biopic {
  border-radius: 20em;
  width: 25%;
  border: 1em solid;
  margin: 0 20px;
}


.h-intro {
  justify-content: center;
  align-items: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h2.role {
  display: inline;
  font-size: 1.5em;
  text-transform: uppercase;
}


.name {
  text-align: center;
  margin: 0.25em 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1.9em;
}

/* Personal info */
.title h2 {
    text-transform: uppercase;
    text-align: right;
    font-weight: 100;
    color: #6c8532;
    margin: 0 0.5em 0 0;
    font-size: 2em;
}


.flex-block {
  width: 42%;
  padding: 15px;
  margin: 8px;
  font-weight: 100;
}

.img-clip {
  padding: 0 0 15px 30px;
}

.title {
  width: 14%;
}

.content {
  width: 86%;
}


.flex-block h3 {
    margin: 0;
    text-align: right;
    text-transform: uppercase;
    font-weight: 100;
}

.flex-block img {
  width: 100%;
}

.contact-section ul {
  list-style-type: none;
}


.fa-icon {
    color: #93780f;
    font-size: 2.5em !important;
    margin-right: 10px;
}

.violet {
  background-color: #7e1275;
  color: #fff;
}

.bright-orange {
  background-color: #f60;
  text-align: center;
}

.green {
  background-color: #8cb13f;
}

.mustard {
  background-color: #efbf03;
  color: #fff;
}

.contact-section ul {
    padding-left: 1em;
}


/* Skills section */

.standout {
  text-align: center;
  font-size: 5em;
  order: 10;
}

.skill img {
  max-width: 12em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 2em 0;
}


.skill:nth-child(1), .skill:nth-child(7) {
  background-color: #30aadb;
}
.skill:nth-child(2), .skill:nth-child(8) {
  background-color: #6735cc;
}
.skill:nth-child(3), .skill:nth-child(9) {
  background-color: #fba919;
}
.skill:nth-child(4), .skill:nth-child(10) {
  background-color: #e44503;
}
.skill:nth-child(5), .skill:nth-child(11) {
  background-color: #009997;
}
.skill:nth-child(6), .skill:nth-child(12) {
  background-color: #8cb13f;
}

/* Media queries */
@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 1050px) {
  .container {
    width: 100%;
  }
  .title h2 {
    font-size: 1.5em;
    margin-top: 0.25em;
  }
  .biopic {
    width: 30%;
  }
}



@media only screen and (max-width: 750px) {
  .title,
  .content {
    width: 100%;
  }

  header {
    margin: 0;
    width: 100%;
  }

  .flex-block {
    width: 42%;
  }

  .contact-section {
    order: 0;
  }

  .img-clip {
    order: 5;
  }

  .biopic {
    width: 40%;
    border: 0.75em solid black;
  }

  .title h2 {
    text-align: left;
    font-size: 2em;
    color: #4c5c22;
  }

  .standout {
    font-size: 3em;
  }
}

@media only screen and (max-width: 620px) {
  .flex-block {
    width: 90%;
  }
  .img-clip-logo,
  .standout {
    width: 40%;
  }


  .skill img {
    padding-top: 0;
    padding-bottom: 0;
  }

  .biopic {
    width: 40%;
  }
}

@media only screen and (max-width: 500px) {
  /* hamburguer menu */
  .img-clip-logo,
  .standout {
    width: 80%;
  }
  .biopic {
    width: 60%;
    margin-left: 100%;
    margin-right: 100%;
  }

  h2.role {
    margin: 0;
  }


  nav li {
    display: list-item; /* display them as a list */
    text-align: left;
    border-bottom: 1px solid black;
  }
  nav ul {
    z-index: 10;
    width: 90%;
    font-size: 1.5em;
    position: absolute;
    margin: 5px 0;
    background: rgba(76, 92, 34, 0.9);
    -webkit-transform: translate(-1000px, 0);
    transform: translate(-1000px, 0);
  }
  
  nav ul.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }


  i.fa.fa-bars {
    display: inline;
  }

}
