/*font-family: 'Oswald', sans-serif;*/
/*font-family: 'Raleway', sans-serif;*/
/* entypo */
/*[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

/* fontelico */
/*[class*="fontelico-"]:before {
  font-family: 'fontelico', sans-serif;
}*/

/* General */
body {
  /*background-color: #d3e194;*/
  background: url('../img/bg-bamboo.jpg') no-repeat 80% 50% fixed;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
}

.container {
  width: 70em;
  border: 3px solid red;
  margin-left: auto;
  margin-right: auto;
}

/* Navigation menu */
nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0;
}

nav li {
  display: inline;
  margin: 5px;
}

nav a {
  text-decoration: none;
  color: #000;
}

/* Header intro */

.biopic {
  border-radius: 20em;
  width: 25%;
  border: 1em solid;
  margin: 0 15px;
}


.h-intro {
  justify-content: center;
  align-items: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
}

h3.role {
  display: inline;
  font-size: 2em;
  font-weight: normal;
  text-transform: uppercase;
}


.name {
  text-align: center;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  margin-bottom: 1em;
}

/* Personal info */


.block {
  width: 45%;
  border: 1px solid orange;
}

.title {
  width: 14%;
}

.content {
  width: 86%;
}


/* Media queries */

@media only screen and (max-width: 500px) {
  /* hamburguer menu */
}
